# =======================================================
# SALUS INITIATIVE — ENVIRONMENT VARIABLES & API CONFIG
# =======================================================

# 1. PUBLIC CLIENT APP CONFIG
NEXT_PUBLIC_APP_URL=http://localhost:3000

# 2. GOOGLE APPS SCRIPT BACKEND ENDPOINT
NEXT_PUBLIC_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwl54f4pv6g35SwacLZwcZaYWHWvMg3zFa9cGI5BTJ2JZ2ZgpFtRkcB2NAMFBOQXXbt/exec

# 3. FIREBASE AUTHENTICATION (Spark Free Tier)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCEnGj1G6asdnfdVe1uPJgPCGqOIz01MDE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=rendervoid-2629a.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=rendervoid-2629a
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=rendervoid-2629a.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=242989222166
NEXT_PUBLIC_FIREBASE_APP_ID=1:242989222166:web:b4ce7490881861c0f36837

# 4. RECAPTCHA V3 KEYS (Bot Protection)
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6Lf9R2ktAAAAAFR1Q-8N_bO9F-R6u2W35yuJyoC7
RECAPTCHA_SECRET_KEY=6Lf9R2ktAAAAAIsoh_IB42tYRqf3WK7l-lVpUiJg

# 5. GOOGLE ANALYTICS (Optional Tracking)
NEXT_PUBLIC_GA_ID=G-70FM0WDBQR

# 6. SERVER-SIDE MASTER ADMIN SECRET PASSKEY
ADMIN_SECRET_PASSKEY=salus2026
